<template>
  <div id="app">
    <component-debug></component-debug>
  </div>
</template>

<script>
import ComponentDebug from './components/ComponentDebug.vue'

export default {
  name: 'app',
  components: {
      ComponentDebug
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
