<template>
    <div>
        <div>
            Strona główna
        </div>

        Policz ze mną cyfry od 1 do {{ liczba }}

        <ul>
            <li v-for="licz in liczba" :key="licz">
                {{ licz }}
            </li>
        </ul>

        Teraz pozwól że pomnoże liczbę przez dwa używając computed
        <p>
            Oto wynik: {{ mnozeRazyDwa }}
        </p>

        Oraz dodam 2 do wyniku mnożenia
        <p>
            Oto wynik: {{ mnozeRazyDwa + 2 }}
        </p>

        <h4>
            Drzewko ulubionych owoców i warzyw
        </h4>
        <ul>
            <li v-for="galazka in drzewo" :key="galazka">
                {{ galazka.name }}

                <ul>
                    <li v-for="cos in galazka.children" :key="cos">
                        {{ cos.name }}
                    </li>
                </ul>

            </li>
        </ul>

        <form>
            <button type="submit" v-on:click="mojaZonaLubi()">Co lubi moja żona ? kliknij a się dowiesz :).</button>
        </form>

    </div>
</template>

<script>

    export default {
        name: 'ComponentDebug',
        data: function() {
            return {
                liczba: 10,
                jaLubie: [
                    {
                        name: 'Owoce',
                        children: [
                            {name: 'Banan'},
                            {name: 'Mango'}
                        ]
                    },
                    {
                        name: 'Warzywa',
                        children: [
                            {name: 'Marchew'},
                            {name: 'Ziemniak'},
                            {name: 'Burak'}
                        ]
                    }
                ],
                drzewo: []

            };
        },
        computed: {
            mnozeRazyDwa(){
                return this.liczba * 2;
            }
        },
        methods: {
            mojaZonaLubi: function() {
                this.drzewo = zonyUlubione;
                event.preventDefault();
            }
        },
        mounted: function() {
            this.drzewo = this.jaLubie;
        }

    }

    const zonyUlubione = [
        {
            name: 'Owoce',
            children: [
                {name: 'Jabuszko'},
                {name: 'Gruszka'}
            ]
        },
        {
            name: 'Warzywa',
            children: [
                {name: 'Cebula'}
            ]
        }
    ];


</script>